


.uc-clean-product-box{ border-radius:8px; text-align:center;overflow:hidden;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;}
.uc-clean-product-box .uc-pic-box{position:relative; overflow:hidden;}
.uc-clean-product-box .uc-pic-box img{ width:100%; display:block;}


.uc-clean-product-box .uc-pic-box .uc-pic-button{ position:absolute; left:0px; bottom:-68px;width:100%;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s; overflow:hidden;   height: 68px;}
.uc-clean-product-box .uc-pic-box .uc-pic-button .uc-button-box{ padding:15px 0; text-align:center; background:#703ea7; color:#ffffff; top: 0;position: absolute;left: 0;    width: 100%;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;}

.uc-clean-product-box .uc-pic-box .uc-pic-button .uc-button-box-up{background: #5c2b93 none repeat scroll 0 0;color: #ffffff;    left: 0;  padding: 15px 0; position: absolute; text-align: center; top: -68px; width: 100%;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s; overflow:hidden;}

.uc-clean-product-box .uc-pic-box .uc-pic-button:hover .uc-button-box-up{top:0px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s; overflow:hidden;}
.uc-clean-product-box .uc-pic-box .uc-pic-button:hover .uc-button-box{top:68px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s; overflow:hidden;}
.uc-clean-product-box .uc-pic-box:hover .uc-pic-button{ bottom:0px;}


.uc-clean-product-box .uc-content-box{ background:#ffffff; padding:30px 0;}
.uc-clean-product-box .uc-content-box p{ margin:0px; padding:0 15%; text-align:left;}
.uc-clean-product-box .uc-content-box .product-name{ text-transform:uppercase;color:#272727; margin:0 0 10px;}
.uc-clean-product-box .uc-content-box .price{color:#9ec12f; font-weight:bold;}

.uc-clean-product-box:hover{ margin-top:-10px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-webkit-box-shadow: 14px 11px 19px -12px rgba(64,61,64,1);-moz-box-shadow: 14px 11px 19px -12px rgba(64,61,64,1);box-shadow: 14px 11px 19px -12px rgba(64,61,64,1);}

.uc-clean-product-box .uc-pic-button:hover{bottom: -71px;height: 71px; width:100%;}

@media only screen and (max-width: 414px) {	
.simple-overlay-product-box{ width:100% !important; height:100% !important;}
}




